nav {
    background: transparent;

    .logo {
        width: 5rem;
    }
}

/* Sidebar */
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    /* Inicialmente fora da tela */
    height: 100%;
    z-index: 1000;
    background: $color-background;
    /* Fundo escuro translúcido */
    backdrop-filter: blur(8px);
    /* Desfoque de fundo */
    transition: all 0.5s ease;
    /* Suaviza a transição */
    // margin-top: 60px;
    /* Espaço para alinhar com a navbar */
    overflow-x: hidden;
    border: 1px solid $color-border;
    border-top-right-radius: 6px;
    z-index: 9999;
}

.sidebar.active {
    left: 0;
    /* Quando ativado, a sidebar entra na tela */
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    padding: 5px 10px;
    list-style: none;
}

.sidebar ul li a {
    color: $color-text;
    /* Cor do texto e links */
    display: block;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    font-family: 'Sora-Light';
    /* Transição de cor ao passar o mouse */
}

.sidebar ul li a.active {
    color: $color-primary;
    text-decoration: underline;
    /* Cor diferente para o link ativo */
}

.sidebar ul li a:hover {
    color: $color-primary;
    text-decoration: underline;
}

/* Sidebar header com o botão de fechar */
.sidebar-header {
    padding: 15px;
    display: flex;
    align-items: center;
    // border-bottom: 1px solid #444;
}

.sidebar-header button {
    border: 1px solid $color-border;
    background: none;
    margin-right: 1rem;
    /* Espaçamento à esquerda do logotipo */

}

/* Ícones de navbar */
.navbar-toggler {
    border: .5px solid $color-border;
    border-radius: 6px;
    padding: 6px;
    background: rgba(22, 22, 22, 0.8);
}

.navbar-toggler img {
    width: 38px;
    height: 38px;
}

/* Estilos do Item na Navbar */
.status-badge {
    display: inline-flex;
    background: rgba(22, 22, 22, 0.8);
    /* Fundo translúcido */
    border-radius: 6px;
    padding: 5px 10px;
    border: 1px solid $color-border;

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $color-border;
        padding-right: .3rem;
        color: $color-text;
        font-family: 'Sora-Light';
    }
}

.status-badge .badge {
    font-size: 16px;
    /* Ajusta o tamanho do texto 'básico' */
    background-color: transparent;
    /* Remove a cor de fundo padrão do badge */
    color: $color-text;
    font-family: 'Sora-Light';
    /* Fonte personalizada */
}

.status-badge small {
    font-size: 12px;
    font-family: 'Sora-Light';
    color: $color-secondary;
}

.icon img {
    width: 24px;
    height: 20px;
}

#sidebarClose {
    border: 0.5px solid #3F3F3F;
    border-radius: 6px;
    padding: 6px;
    background: rgba(22, 22, 22, 0.8);

    img {
        width: 38px;
        height: 38px;
    }
}