@font-face {
    font-family: 'Sora-Medium';
    src: url('../fonts/Sora-Medium.ttf');
}

@font-face {
    font-family: 'Sora-Light';
    src: url('../fonts/Sora-Light.ttf');
}

@font-face {
    font-family: 'Sora-Regular';
    src: url('../fonts/Sora-Regular.ttf');
}

@font-face {
    font-family: 'Sora-SemiBold';
    src: url('../fonts/Sora-SemiBold.ttf');
}

/* Variáveis de Cores */
$color-primary: #BDD700;
$color-secondary: #ADADAD;
$color-background: rgba(22, 22, 22, 0.8);
$color-border: #3F3F3F;
$color-text: #FFFFFF;
$green: #BDD700;

@import 'sidebar';

/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../../src/img/BG-home.png');
    background-size: cover;
    background-position: center;
    font-family: 'Sora-Medium';
}

nav {
    background: transparent;
}

.card {
    backdrop-filter: blur(8px); // Efeito de embaçamento no fundo
    -webkit-backdrop-filter: blur(8px);
    background-color: $color-background;
    border-radius: 8px;
    width: 100%;
    border: 1px solid $color-border;

    h5 {
        color: $color-text;
        font-family: 'Sora-Regular';
        margin-bottom: 0;
        font-size: 1rem;
    }

    p.card-text {
        font-family: 'Sora-Light';
        color: $color-secondary;
        font-size: 10px;
    }
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-primary;
    /* Cor verde para indicar "online" */
}

.badge.badge-secondary {
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid $color-border;
    padding: 8px 12px;
    font-size: 12px;
    color: $color-secondary;
    font-family: 'Sora-Light';
}

.btn-open {
    color: $color-text;
    border: 1px solid $color-primary;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    font-family: 'Sora-Light';
    border-radius: 6px;
    transition: all .3s ease;

    &:hover {
        background: $color-primary;
    }
}

/* Responsividade */
@media (max-width: 576px) {
    .card {
        padding: 20px;
    }
}