@font-face {
    font-family: 'Sora-Medium';
    src: url('../fonts/Sora-Medium.ttf');
}

@font-face {
    font-family: 'Sora-Light';
    src: url('../fonts/Sora-Light.ttf');
}

@font-face {
    font-family: 'Sora-Regular';
    src: url('../fonts/Sora-Regular.ttf');
}

@font-face {
    font-family: 'Sora-SemiBold';
    src: url('../fonts/Sora-SemiBold.ttf');
}

/* Variáveis de Cores */
$color-primary: #BDD700;
$color-secondary: #ADADAD;
$color-background: rgba(22, 22, 22, 0.8);
$color-border: #3F3F3F;
$color-text: #FFFFFF;
$green: #BDD700;

@import 'sidebar', 'upgrade';

/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-image: url('./../../src/img/BG-TelaInicial.png');
    background-size: cover;
    background-position: center;
    font-family: 'Sora-Medium';

    &.sinais {
        background-image: url('./../../src/img/BG-Sinais.png');
    }

    &.Upgrade {
        background-image: url('./../../src/img/BG-Upgrade.png');
    }
}

.card {
    backdrop-filter: blur(8px); // Efeito de embaçamento no fundo
    -webkit-backdrop-filter: blur(8px);
    background-color: $color-background;
    border-radius: 8px;
    width: 100%;
    border: 1px solid $color-border;
    min-height: 115px;
    justify-content: center;

    h5 {
        color: $color-text;
        font-family: 'Sora-Regular';
        margin-bottom: 4px;
        font-size: 22px;
    }

    p.card-text {
        font-family: 'Sora-Light';
        color: $color-secondary;
        font-size: 14px;
        margin-bottom: 6px;

    }

    .card-details {
        color: $color-secondary;
        font-family: 'Sora-Light';

    }

    .card-currency {
        margin-top: 16px;
        margin-bottom: 6px;
        color: $color-text;
        font-family: 'Sora-Regular';
        font-weight: 400;
        display: flex;
        align-items: center;
        align-self: center;

        img.moeda {
            margin-left: .5rem;
            width: auto;
            height: 1.6rem;
        }
    }

    .text-time {
        color: $color-secondary;
        font-family: 'Sora-Light';
    }

    .time {
        color: $color-text;
        font-family: 'Sora-Light';
    }

    .btn-Up {
        width: fit-content;
        align-self: center;
        background-color: $color-primary;
        color: #161616;
        font-family: 'Sora-Light';
        padding: 4px 24px;
        border-radius: 0;
    }
}

.dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $color-primary;
    /* Cor verde para indicar "online" */
}

.badge.badge-secondary {
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid $color-border;
    padding: 6px 12px;
    font-size: 10px;
    color: $color-secondary;
    font-family: 'Sora-Light';
    font-weight: 300;
}


.btn-open {
    color: $color-text;
    border: 1px solid $color-primary;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    font-family: 'Sora-Light';
    border-radius: 6px;
    transition: all .3s ease;
    font-size: 14px;
    z-index: 9999;
    background: rgba(22, 22, 22, 0.8);


    &:hover {
        background: $color-primary;
    }
}

body:not(.home) {
    .btn-open {
        position: absolute;
        bottom: 4rem;
        right: 1rem;
    }

    .badge.badge-secondary {
        width: fit-content;
        align-self: center;
    }
}

.loader {
    border: 6px solid $color-primary;
    /* Borda clara */
    border-top: 6px solid rgba(22, 22, 22, 0.8);
    /* Borda superior verde */
    border-radius: 50%;
    /* Para transformar em círculo */
    width: 40px;
    /* Largura do loader */
    height: 40px;
    /* Altura do loader */
    animation: spin 1s linear infinite;
    /* Animação de rotação infinita */
    align-self: center;
    margin-top: 6px;
}

#atlasContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

/* Estilo da tabela */
.ranking-card {

    /* Estilos do Header do Ranking */
    .ranking-header {
        background-color: transparent;
        padding: 0;
        text-align: left;
        border: none;

        .ranking-title {
            font-family: 'Sora-SemiBold';
            font-size: 1.5rem;
            color: $color-text;
            margin: 0;
        }

        .ranking-subtitle {
            font-family: 'Sora-Light';
            font-size: 0.875rem;
            color: $color-secondary;
        }

        .ranking-icon {
            img {
                width: 32px;
                /* Tamanho do ícone conforme a imagem */
                height: 32px;
            }
        }
    }

}

.ranking-table {
    width: 100%;
    margin-top: 20px;

    th,
    td {
        font-family: 'Sora-Regular';
        font-size: 0.95rem;
        text-align: left;
        padding: 12px;
        border-bottom: 1px solid $color-border;
        color: $color-secondary;
    }

    thead {

        th,
        tr {
            border: none;
        }
    }

    th {
        color: $color-primary;
        font-family: 'Sora-Light';
        font-weight: 300;
        font-size: 1rem;
        border: none;
        // text-transform: uppercase;
    }

    td {
        font-family: 'Sora-Regular';
        color: $color-secondary;
    }

    tr {
        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
            /* Leve destaque ao passar o mouse */
        }
    }
}

.bt-none {
    border-top: none !important;
}

/* Responsividade */
@media (max-width: 576px) {
    .ranking-card {
        padding: 15px;
    }

    .ranking-table th,
    .ranking-table td {
        // font-size: 0.85rem;
        padding: 8px;
    }

    .ranking-table {
        & th {
            font-size: 12px;
        }

        & td {
            font-size: 10px;
        }
    }
}

.icon-card{
    width: 51px;
    height: 51px;
}

/* Animação de rotação */
@keyframes spin {
    0% {
        transform: rotate(0deg);
        /* Inicia a rotação em 0 graus */
    }

    100% {
        transform: rotate(360deg);
        /* Termina a rotação em 360 graus */
    }
}

/* Responsividade */
@media (max-width: 576px) {
    .card {
        padding: 20px;
    }
}