@charset "UTF-8";
@font-face {
  font-family: "Sora-Medium";
  src: url("../fonts/Sora-Medium.ttf");
}
@font-face {
  font-family: "Sora-Light";
  src: url("../fonts/Sora-Light.ttf");
}
@font-face {
  font-family: "Sora-Regular";
  src: url("../fonts/Sora-Regular.ttf");
}
@font-face {
  font-family: "Sora-SemiBold";
  src: url("../fonts/Sora-SemiBold.ttf");
}
/* Variáveis de Cores */
nav {
  background: transparent;
  padding: 1rem 1rem 0.5rem 1rem !important;
}
nav .logo {
  width: 3.5rem;
}

/* Sidebar */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  /* Inicialmente fora da tela */
  height: 100%;
  z-index: 1000;
  background: rgba(22, 22, 22, 0.8);
  /* Fundo escuro translúcido */
  backdrop-filter: blur(8px);
  /* Desfoque de fundo */
  transition: all 0.5s ease;
  /* Suaviza a transição */
  /* Espaço para alinhar com a navbar */
  overflow-x: hidden;
  border: 1px solid #3F3F3F;
  border-top-right-radius: 6px;
  z-index: 9999;
}

.sidebar.active {
  left: 0;
  /* Quando ativado, a sidebar entra na tela */
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li {
  padding: 5px 10px;
  list-style: none;
}

.sidebar ul li a {
  color: #FFFFFF;
  /* Cor do texto e links */
  display: block;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  font-family: "Sora-Light";
  /* Transição de cor ao passar o mouse */
}

.sidebar ul li a.active {
  color: #BDD700;
  text-decoration: underline;
  /* Cor diferente para o link ativo */
}

.sidebar ul li a:hover {
  color: #BDD700;
  text-decoration: underline;
}

/* Sidebar header com o botão de fechar */
.sidebar-header {
  padding: 15px;
  display: flex;
  align-items: center;
}

.sidebar-header button {
  border: 1px solid #3F3F3F;
  background: none;
  margin-right: 1rem;
  /* Espaçamento à esquerda do logotipo */
}

/* Ícones de navbar */
.navbar-toggler {
  border: 0.5px solid #3F3F3F;
  border-radius: 6px;
  padding: 6px;
  background: rgba(22, 22, 22, 0.8);
}

.navbar-toggler img {
  width: 20px;
  height: 20px;
}

/* Estilos do Item na Navbar */
.status-badge {
  display: inline-flex;
  background: rgba(22, 22, 22, 0.8);
  /* Fundo translúcido */
  border-radius: 8px;
  padding: 2px 10px;
  border: 1px solid #3F3F3F;
}
.status-badge .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #3F3F3F;
  padding-right: 0.3rem;
  color: #FFFFFF;
  font-family: "Sora-Light";
}

.status-badge .badge {
  font-size: 12px;
  /* Ajusta o tamanho do texto 'básico' */
  background-color: transparent;
  /* Remove a cor de fundo padrão do badge */
  color: #FFFFFF;
  font-family: "Sora-Light";
  padding-bottom: 0;
  /* Fonte personalizada */
}

.status-badge small {
  font-size: 10px;
  font-family: "Sora-Light";
  color: #ADADAD;
}

.icon img {
  width: 26px;
  height: 22px;
}

#sidebarClose {
  border: 0.5px solid #3F3F3F;
  border-radius: 6px;
  padding: 6px;
  background: rgba(22, 22, 22, 0.8);
}
#sidebarClose img {
  width: 20px;
  height: 20px;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Variáveis de cor */
body.Upgrade {
  display: block;
}
body.Upgrade .container {
  margin-top: 1rem;
}

/* Estilo global dos cards */
.card.card-pro .card-title, .card.card-ultimate .card-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.card .card-features {
  list-style: none;
  padding-left: 0;
}
.card .card-features li {
  font-family: "Sora-Light";
  color: #ADADAD;
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.card .card-footer {
  font-family: "Sora-Light";
  color: #ADADAD;
  font-size: 12px;
  margin-top: 2rem;
  padding: 0;
  background-color: transparent;
  border-top: none;
  place-self: center;
}
.card .card-footer .badge-info {
  background-color: transparent;
  color: #ADADAD;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: 1px solid #3F3F3F;
  place-self: center;
  font-weight: 300;
}
.card .btn-block {
  font-family: "Sora-SemiBold";
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  color: #161616;
  transition: all 0.3s ease;
}

/* Estilo específico para o card PRO */
.card-pro .arrow {
  color: #DAA520;
  margin-right: 10px;
}
.card-pro .btn {
  background-color: #DAA520;
  border: none;
}
.card-pro .btn:hover {
  background-color: #ae8319;
}

/* Estilo específico para o card Ultimate PRO */
.card-ultimate .arrow {
  color: #72129E;
  margin-right: 10px;
}
.card-ultimate .btn-ultimate {
  background-color: #72129E;
  border: none;
  color: #FFFFFF;
}
.card-ultimate .btn-ultimate:hover {
  background-color: #510d70;
}

/* Coroas */
.crown-icon {
  width: 20px;
  height: 20px;
}

li.legenda {
  color: #5B5B5B !important;
  font-family: "Sora-Light" !important;
  font-size: 10px !important;
}

/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  background-image: url("./../../src/img/BG-home.png");
  background-size: cover;
  background-position: center;
  font-family: "Sora-Medium";
}

.card {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(22, 22, 22, 0.8);
  border-radius: 8px;
  width: 100%;
  border: 1px solid #3F3F3F;
  min-height: 115px;
  justify-content: center;
}
.card h5 {
  color: #FFFFFF;
  font-family: "Sora-Regular";
  margin-bottom: 4px;
  font-size: 22px;
}
.card p.card-text {
  font-family: "Sora-Light";
  color: #ADADAD;
  font-size: 14px;
  margin-bottom: 6px;
}
.card .card-currency,
.card .card-details {
  color: #ADADAD;
  font-family: "Sora-Light";
}
.card .card-currency {
  margin-top: 16px;
  margin-bottom: 6px;
}
.card .text-time {
  color: #ADADAD;
  font-family: "Sora-Light";
}
.card .time {
  color: #FFFFFF;
  font-family: "Sora-Light";
}
.card .btn-Up {
  width: fit-content;
  align-self: center;
  background-color: #BDD700;
  color: #161616;
  font-family: "Sora-Light";
  padding: 4px 24px;
  border-radius: 0;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #BDD700;
  /* Cor verde para indicar "online" */
}

.badge.badge-secondary {
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #3F3F3F;
  padding: 6px;
  font-size: 10px;
  color: #ADADAD;
  font-family: "Sora-Light";
  font-weight: 300;
}

.btn-open {
  color: #FFFFFF;
  border: 1px solid #BDD700;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-family: "Sora-Light";
  border-radius: 6px;
  transition: all 0.3s ease;
  font-size: 14px;
}
.btn-open:hover {
  background: #BDD700;
}

body:not(.home) .btn-open {
  position: absolute;
  bottom: 4rem;
  right: 1rem;
}
body:not(.home) .badge.badge-secondary {
  width: fit-content;
  align-self: center;
}

.loader {
  border: 6px solid #BDD700;
  /* Borda clara */
  border-top: 6px solid rgba(22, 22, 22, 0.8);
  /* Borda superior verde */
  border-radius: 50%;
  /* Para transformar em círculo */
  width: 40px;
  /* Largura do loader */
  height: 40px;
  /* Altura do loader */
  animation: spin 1s linear infinite;
  /* Animação de rotação infinita */
  align-self: center;
  margin-top: 6px;
}

/* Animação de rotação */
@keyframes spin {
  0% {
    transform: rotate(0deg);
    /* Inicia a rotação em 0 graus */
  }
  100% {
    transform: rotate(360deg);
    /* Termina a rotação em 360 graus */
  }
}
/* Responsividade */
@media (max-width: 576px) {
  .card {
    padding: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
